.user {
    box-sizing: border-box;
    display: block;
    margin:0;

     i {
        color: #fff;
    }
    .floorplan & {
    border: 2px solid $line-color;

        position: absolute;
        border-radius: 50% 50% 0 0;
        $size: 50%;
        width: $size;
        padding-bottom: $size / 1.2;
        height: 0;
        right: 15%;
        margin-top: -60%;
        overflow: hidden;
        position: relative;
        transition: all 0.5s cubic-bezier(0.2,1,0.3,1);
        z-index: 400;
        color: #fff !important;
        text-decoration: none;

        i {
            display: none;
        }
    

   

    img {
        box-sizing: border-box;
        width: 100%;
        bottom: 0;
        transform: translateY((100%));
        transition: all 0.5s cubic-bezier(0.2,1,0.3,1);
    }
    }

    div {
        display: block;
        padding: 20px;
        position: absolute;
        bottom: 0;
        z-index: 400;
        font-size: 0;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }

    &.a {
        //border-color: red;
        img {
            transform: translateY(5%);
        }
    }

    .h & {
        opacity: 0.5;
    }

    .a & {
        display: block !important;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0;
        font-size: 3em;
        z-index: 999;
        opacity: 1;
        z-index: 500;



        div {
            font-size: 0.75em;
        }
    }
}
